.DatePicker {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: inline-block;
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 3px;
  font-family: Arial, monospace;
}
.DatePicker .DatePicker-header {
  text-align: center;
}
.DatePicker .DatePicker-month-label, .DatePicker .DatePicker-year-label,
.DatePicker .DatePicker-next-month, .DatePicker .DatePicker-prev-month,
.DatePicker .DatePicker-next-year, .DatePicker .DatePicker-prev-year,
.DatePicker .DatePicker-next-years, .DatePicker .DatePicker-prev-years,
.DatePicker .DatePicker-month-button, .DatePicker .DatePicker-year-button {
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
}
.DatePicker .DatePicker-month-label, .DatePicker .DatePicker-year-label {
  cursor: pointer;
  padding: 0;
}
.DatePicker .DatePicker-month-label:hover, .DatePicker .DatePicker-year-label:hover, .DatePicker .DatePicker-month-label:focus, .DatePicker .DatePicker-year-label:focus {
  text-decoration: underline;
}
.DatePicker .DatePicker-year-label {
  margin-left: 0.25em;
}
.DatePicker td {
  border-radius: 4px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3px;
  margin: 1px;
  font-size: 0.9em;
}
.DatePicker td.DatePicker-date {
  border-color: transparent;
  text-align: center;
}
.DatePicker td.DatePicker-date:hover {
  background-color: orange;
  border-color: darkorange;
  cursor: pointer;
}
.DatePicker td.DatePicker-date.DatePicker-date-disabled {
  background: transparent;
  color: #aaa;
  cursor: auto;
}
.DatePicker td.DatePicker-date.DatePicker-date-disabled:hover {
  border-color: transparent;
}
.DatePicker .DatePicker-next-month {
  float: right;
}
.DatePicker .DatePicker-prev-month {
  float: left;
}
.DatePicker .DatePicker-next-month, .DatePicker .DatePicker-prev-month,
.DatePicker .DatePicker-next-year, .DatePicker .DatePicker-prev-year,
.DatePicker .DatePicker-next-years, .DatePicker .DatePicker-prev-years {
  color: #bbb;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
}
.DatePicker .DatePicker-next-month:hover, .DatePicker .DatePicker-prev-month:hover,
.DatePicker .DatePicker-next-year:hover, .DatePicker .DatePicker-prev-year:hover,
.DatePicker .DatePicker-next-years:hover, .DatePicker .DatePicker-prev-years:hover,
.DatePicker .DatePicker-next-month:focus, .DatePicker .DatePicker-prev-month:focus,
.DatePicker .DatePicker-next-year:focus, .DatePicker .DatePicker-prev-year:focus,
.DatePicker .DatePicker-next-years:focus, .DatePicker .DatePicker-prev-years:focus {
  color: #000;
}
.DatePicker .DatePicker-next-year, .DatePicker .DatePicker-next-years {
  float: right;
}
.DatePicker .DatePicker-prev-year, .DatePicker .DatePicker-prev-years {
  float: left;
}
.DatePicker .DatePicker-month-cell, .DatePicker .DatePicker-year-cell {
  border-color: transparent;
  padding: 0;
}
.DatePicker .DatePicker-month-button, .DatePicker .DatePicker-year-button {
  border-color: transparent;
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 8px;
  width: 100%;
}
.DatePicker .DatePicker-month-button:hover, .DatePicker .DatePicker-year-button:hover, .DatePicker .DatePicker-month-button:focus, .DatePicker .DatePicker-year-button:focus {
  background-color: orange;
  border-color: darkorange;
}

/*# sourceMappingURL=DatePicker.css.map */
